dataAccess/Databases/database.sql
dataAccess/dbtableschema.txt
dataAccess/test.lua
dataAccess/testclient.lua
dataAccess/testrequest.html
dataAccess/Databases/csvDatabase/Cards.csv
dataAccess/Databases/csvDatabase/Users.csv
dataAccess/Databases/csvDatabase/Sets.csv
dataAccess/1760434125447-1199875031597?hello=world
